<!DOCTYPE html>
<html>
  <head>
    <title>Krishots Photography | <%= title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <%- body %>
    <footer>
      <img src="/images/krishots_logo.png" alt="" />
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/gallery">Gallery</a>
      <a href="/pricing">Pricing</a>
      <a href="/contact">Contact</a>
    </footer>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/photo-slider.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
