
body{
  background-color: lighten(#000, 5%);
  color: darken(#fff, 50%);
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  padding: 15px 10px;
  text-align: right;

  a {
    padding-left: 10px;
  }

}
