$krishots-gray: darken(#fff, 60%);

body{
  background-color: lighten(#000, 5%);
  color: darken(#fff, 50%);
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  text-align: right;
  z-index: 10;
  a {
    text-decoration: none;
    padding-left: 10px;
    display: inline-block;
    margin-top: 25px;
    color: $krishots-gray;
  }

  img{
    height: 70px;
    float: left;
  }

}

#photo-slider{
  .photo{
    img{
      width: 100%;
    }
    opacity: 0;
    z-index: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;

    &.show{
      opacity: 1;
      z-index: 1;
    }
  }
}
